@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #1c1c1c;
    --foreground: #fff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2a2a;
    --foreground: #ededed;
  }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Outfit', serif;
}
